.intro-text{
    font-size: 20px;
    color: wheat;
    font-weight: bold;
    line-height: 30px;
    letter-spacing: 2px;
    text-indent: 40px;
    text-align: justify;
    background-color: darkcyan;
}
#carousel{
    height: 500px;
    margin-top: 30px;
    background-image: url('686872.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-clip: content-box;
}
.copyright{
    font-size: 10px;
    color: black;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: 2px;
    text-indent: 40px;
    text-align: center;
}
